@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f6f1;
  line-height: 1.7rem;
}

.header__container {
  margin: 0 10%;
  height: 80px;
  display: flex;
  align-items: center;
}

.header__container header {
  font-size: 1.2rem;
  font-weight: 700;
}
