.accordion__item {
  height: max-content;
  width: 80vw;
  background-color: #fefefe;
  display: grid;
  border: 1px solid #f8f6f1;
}

.accordion__header {
  display: flex;
  margin: 1rem 0;
}

.accordion__date {
  margin-left: 1rem;
}

.accordion__title {
  margin-left: 1rem;
  font-weight: 600;
  margin-right: auto;
}

.accordion__chevron {
  margin: 0 1rem;
  cursor: pointer;
}

.accordion__content {
  display: flex;
  /* grid-template-columns: 15% 85%; */
  border: 1px solid #f8f6f1;
}

button.button {
  border: 2px solid #e5e5e5;
  font-weight: 600;
  text-transform: capitalize;
  height: fit-content;
  padding: 0.5rem 2rem;
  margin: 2rem 1rem;
  background-color: #fefefe;
  cursor: pointer;
}

.accordion__content--desc {
  line-height: 1.2rem;
  font-size: 1rem;
  margin: 2rem 3.5rem 2rem 1rem;
}

@media screen and (max-width: 600px) {
  .accordion__content {
    flex-direction: column-reverse;
  }

  .button.button {
    margin: 1rem auto;
  }

  .accordion__content--desc {
    margin: 1rem 1rem;
  }
}
